body {
  min-height: 100vh;
  display: flex; /* it works with grid too  */
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: hsl(206, 47%, 93%);
}

.priceContainer {
  height: auto;
  width: auto;
  background-color: white;
  border-radius: 20px;
  padding-top: 10px;
}

.infoBoxOne {
  background-color: white;
  padding: 0px 50px;
  border-radius: 10px 10px 0px 0px;
}

.infoBoxOne h1 {
  font-family: "Karla", sans-serif;
  color: hsl(179, 62%, 43%);
  font-weight: 700;
}

.infoBoxOne h2 {
  font-family: "Karla", sans-serif;
  color: hsl(71, 73%, 54%);
  font-weight: 700;
}

.infoBoxOne p {
  font-family: "Karla", sans-serif;
  color: hsl(218, 22%, 67%);
}

.informationContainer {
  display: flex;
  flex-direction: row;
}

.subscriptionPrice {
  background-color: hsl(179, 61%, 44%);
  width: 50%;
  border-radius: 0px 0px 0px 10px;
  padding-bottom: 10px;
}

.subscriptionPrice p,
h3,
button {
  position: relative;
  left: 40px;
  top: -2px;
  font-family: "Karla", sans-serif;
  color: white;
}

#spanOne {
  font-size: 1.8rem;
}

#spanTwo {
  font-size: 0.8rem;
  font-weight: 300;
}

.subscriptionPrice button {
  background-color: hsl(71, 73%, 54%);
  border-style: none;
  width: 200px;
  height: 50px;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 8px;
}

.infoBoxTwo {
  background-color: hsl(179, 47%, 52%);
  width: 50%;
  border-radius: 0px 0px 10px 0px;
}

.infoBoxTwo h3 {
  position: relative;
  top: 0px;
}

.infoBoxTwo p {
  font-family: "Karla", sans-serif;
  color: white;
  font-weight: 400;
  position: relative;
  left: 30px;
  top: -10px;
  font-weight: 300;
  line-height: 28px;
}
